<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iqzal.app.bimbingan.ruangdosen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:name=".SavedIdClass">
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Choose" />
        <activity android:name=".LoginMhs" />
        <activity android:name=".LoginDosen" />
        <activity
            android:name=".MainActivityDosen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivityMhs"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Chat"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"></activity>
    </application>

</manifest>